@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/bcj4udr.css");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@font-face {
  font-family: "PoetsenOne";
  src: url("../fonts/PoetsenOne.ttf");
}
@font-face {
  font-family: "WalkAwayBlack";
  src: url("../fonts/Walkway\ Expand\ Black.ttf");
}
* {
  /*font-family: "atrament-web", sans-serif;
  font-weight: 700;
  font-style: normal;*/
  font-family: "PoetsenOne", sans-serif;
  /*font-family: "WalkAwayBlack", sans-serif;*/
  /*font-family: "Calistoga", cursive;*/
}
input:checked + div {
  @apply border-primary-green;
}
input:checked + div svg {
  @apply block;
}
